<form novalidate>
    <input
        type="text"
        placeholder="Título"
        class="u-full-width">

    <textarea
        placeholder="Introduce tu historia"
        class="u-full-width georgia-font"
        autogrow></textarea>

    <textarea
        placeholder="Cuenta tu historia"
        class="u-full-width georgia-font"
        autogrow></textarea>
    <div>
        <div>
            <label (click)="setScheduling(false)">
                <span class="radio-input" [class.active]="!publicationDateScheduled"></span>
                No programar
            </label>
        </div>
        <div>
            <label (click)="setScheduling(true)">
                <span class="radio-input" [class.active]="publicationDateScheduled"></span>
                Publicar en:
            </label>
        </div>
        <div>
            <input
                type="datetime-local"
                name="publicationDate"
                [min]="nowDatetimeLocal"
                [ngModel]="nowDatetimeLocal">
        </div>
    </div>
    <button type="submit" class="button-primary u-pull-right">Publicar</button>
</form>
